@font-face {
  font-family: "League Gothic";
  src: url('./fonts/LeagueGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

button,
label {
  cursor: pointer;
}


button {
  -webkit-tap-highlight-color: transparent;
}

:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}


:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
  --color-white: #FFFFFF;
  --color-light: #F5F5F5;
  --color-dark: #000000;
  --color-gray: #9DA3AE;
  --color-light-gray: #E8EAED;
  --color-light-gray-2: #DFDEE7;

  --color-accent: #2AD18A;

  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'League Gothic', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 80px;

  --transition-duration: 0.2s;

  --border-radius: 8px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: 18px;
  line-height: 1.6;
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 700;
}

h2, .h2 {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  width: 100%;
}

.visible-mobile{
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 14px;
  padding-inline: 24px;
  position: relative;
  box-sizing: border-box;
}

.header__logo {
  font-size: 24px;
  color: var(--color-accent);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  width: 213px;
  margin-inline: 8px;
  pointer-events: none;
}

.header__overlay{
  display: contents;
}

.header__menu-list {
  display: flex;
  width: 534px;
  column-gap: 32px;
  justify-content: center;
  align-items: center;
}

.header__menu-item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  white-space: nowrap;
}

.header__menu-link:hover {
  color: var(--color-accent);
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__login {
  display: flex;
  justify-content: flex-end;
  width: 229px;
  white-space: nowrap;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding-inline: 24px;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: var(--border-radius);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  pointer-events: none;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: none;
}

.burger-button__line {
  height: 3px;
  width: 30px;
  background-color: var(--color-white);
  transform-origin: center;
}


@media (max-width: 1024px) {
  .header{
    padding-inline: 10px;
  }
  .header__logo {
    font-size: 18px;
  }
  .header__menu-list {
    column-gap: 15px;
    width: 480px;
  }
}

@media (max-width: 802px) {
  .header__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    transition: transform .3s ease, opacity .3s ease;

    z-index: 999;
  }

  .header__overlay.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .visible-mobile {
    display: flex !important;
  }

  .header__menu-list {
    flex-direction: column;
    row-gap: 24px;
  }

  .header__login {
    width: auto;
    justify-content: center;
    background: none;
  }

  .header__overlay {
    display: flex;
  }

  .header__burger-button {
    position: relative;
    z-index: 1001;
  }

  .header__burger-button.active .burger-button__line:nth-child(1) {
    transform: rotate(45deg) translateX(8px) translateY(10px);
  }
  .header__burger-button.active .burger-button__line:nth-child(2) {
    opacity: 0;
  }
  .header__burger-button.active .burger-button__line:nth-child(3) {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
  }
  .burger-button__line {
    transition: transform .3s ease, opacity .3s ease;
  }

  .header__menu-item {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .header{
    padding-inline: 10px;
  }
}



.news-feed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-template-rows: auto;
}

.hero-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  position: relative;
}

.hero-card__title {
  font-size: 72px;
  line-height: 1.1;
}

.hero-card__description {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

.hero-card__image,
.story-item__image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.icon-comment {
  height: 24px;
  width: 24px;
  color: var(--color-gray);
}

.news-feed__aside{
  min-width: 0;
}

.top-stories__heading {
  color: var(--color-accent);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-left: 48px;
  line-height: 140%;
}

.top-stories__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.story-item{
  display: flex;
  gap: 16px;
  font-size: 22px;
  position: relative;
}

.story-item__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  font-size: 16px;
  line-height: 1.4;
  flex: 1;
  min-width: 0;
}

.story-item__title{
  font-size: 22px;
}

.story-item__author{
  color: var(--color-accent);
  font-weight: 500;
}

.story-item__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--color-gray);
}

.story-item__date{
  padding-right: 10px;
  border-right: 1px solid var(--color-gray);
}

.icon-comment{
  margin-left: 16px;
  margin-right: 6px;
}

.story-item__rank{
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-light-gray);
  border-radius: 50%;
  flex-shrink: 0;
  color: var(--color-accent);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.story-item__title{
  font-size: 22px;
}

.story-item__image{
  width: 200px;
  flex-shrink: 0;
  object-fit: cover;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  flex-shrink: 0;
}

@media (max-width: 1376px) {
  :root {
    --container-padding-x: 40px;
  }

  .story-item{
    justify-content: space-between;
  }

  .news-feed {
    gap: 40px;
  }

  .hero-card__title {
    font-size: 52px;
  }

  .story-item__title {
    font-size: 18px;
    line-height: 1.3;
  }

  .story-item__info {
    font-size: 14px;
  }

  .story-item__image {
    width: 200px;
    height: auto;
    flex-shrink: 0;
  }

  .story-item__rank {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .news-feed {
    gap: 30px;
  }

  .hero-card__title {
    font-size: 42px;
  }

  .hero-card__description {
    font-size: 16px;
  }

  .story-item__info {
    font-size: 13px;
  }

  .hero-card__description {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .news-feed {
    grid-template-columns: 1fr;
    gap: 40px;
    grid-template-rows: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .news-feed__main {
    order: 1;
  }

  .news-feed__aside {
    order: 2;
  }

  .top-stories__list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 16px;
    justify-content: space-between;

    scroll-snap-type: x mandatory;
    padding-bottom: 20px;

    margin-inline: calc(var(--container-padding-x) * -1);
    padding-inline: var(--container-padding-x);
  }

  .top-stories__item {
    flex-shrink: 0;
    width: 260px;
    scroll-snap-align: center;
  }

  .top-stories__item:last-child {
    margin-right: 0;
  }

  .story-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-light);
    padding: 12px;
    position: relative;
    gap: 12px;
    align-items: center;
  }

  .story-item__image {
    order: -1;
    width: 100%;
    height: 180px;
    margin-bottom: 0;
    border-radius: var(--border-radius);
  }

  .story-item__rank {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--color-white);
    z-index: 2;
    box-shadow: 0 2px 4px var(--color-gray);
  }

  .story-item__title {
    font-size: 18px;
    max-width: 100%;
  }

  .story-item__info {
    order: 2;
  }
}

@media (max-width: 600px) {
  :root {
    --container-padding-x: 20px;
  }

  .hero-card__title {
    font-size: 32px;
  }

  .top-stories__item {
    width: 80%;
    max-width: 220px;
  }

  .hero-card__image {
    min-height: 370px;
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .hero-card__description {
    font-size: 14px;
  }

  .story-item__title {
    font-size: 16px;
  }

  .story-item__info {
    font-size: 12px;
  }
}



.related-news {
  padding-block: 40px;
}

.related-news__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.related-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.related-card__image {
  width: 100%;
  height: auto;
}

.related-card__title {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
}

.related-card__description {
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .related-news__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .related-card__description {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .related-news__list {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .related-card__image {
    aspect-ratio: 12 / 8;
    object-fit: cover;
    height: auto;
    width: 100%;
  }

  .related-card__title {
    font-size: 18px;
    line-height: 1.2;
  }

  .related-card__description {
    font-size: 14px;
  }
}



.footer {
  border-top: 1px solid var(--color-gray);
  padding-block: 80px;
  margin-top: 40px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--color-dark);
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6;
  color: var(--color-dark);
}

.footer__link:hover {
  color: var(--color-accent);
  transition: var(--transition-duration);
}

.footer__item:not(:last-child)::after {
  content: "/";
  margin-left: 6px;
  color: var(--color-dark);
  pointer-events: none;
}


@media (max-width: 1024px) {
  .footer__item {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .footer{
    padding-block: 40px;
  }

  .footer__logo {
    font-size: 18px;
  }

  .footer__list {
    gap: 8px;
  }

  .footer__item {
    font-size: 12px;
  }
}

body.menu-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}