@font-face {
  font-family: "League Gothic";
  src: url('./fonts/LeagueGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

button,
label {
  cursor: pointer;
}


button {
  -webkit-tap-highlight-color: transparent;
}

:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}


:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
  --color-white: #FFFFFF;
  --color-light: #F5F5F5;
  --color-dark: #000000;
  --color-gray: #9DA3AE;
  --color-light-gray: #E8EAED;
  --color-light-gray-2: #DFDEE7;

  --color-accent: #2AD18A;

  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'League Gothic', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 80px;

  --transition-duration: 0.2s;

  --border-radius: 8px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: 18px;
  line-height: 1.6;
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 700;
}

h1, .h1 {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visible-mobile{
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 14px;
  padding-inline: 24px;
  position: relative;
  box-sizing: border-box;
}

.header__logo {
  font-size: 24px;
  color: var(--color-accent);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  width: 213px;
  margin-inline: 8px;
  pointer-events: none;
}

.header__overlay{
  display: contents;
}

.header__menu-list {
  display: flex;
  width: 534px;
  column-gap: 32px;
  justify-content: center;
  align-items: center;
}

.header__menu-item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  white-space: nowrap;
  pointer-events: none;
}

.header__menu-link:hover {
  color: var(--color-accent);
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__login {
  display: flex;
  justify-content: flex-end;
  width: 229px;
  white-space: nowrap;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding-inline: 24px;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: var(--border-radius);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  pointer-events: none;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: none;

}
.burger-button__line {
  height: 3px;
  width: 30px;
  background-color: var(--color-white);
  transform-origin: center;
}


@media (max-width: 1024px) {
  .header{
    padding-inline: 10px;
  }
  .header__logo {
    font-size: 18px;
  }
  .header__menu-list {
    column-gap: 15px;
    width: 480px;
  }
}

@media (max-width: 802px) {
  .header__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    transition: transform .3s ease, opacity .3s ease;

    z-index: 999;
  }

  .header__overlay.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .visible-mobile {
    display: flex !important;
  }

  .header__menu-list {
    flex-direction: column;
    row-gap: 24px;
  }

  .header__login {
    width: auto;
    justify-content: center;
    background: none;
  }

  .header__overlay {
    display: flex;
  }

  .header__burger-button {
    position: relative;
    z-index: 1001;
  }

  .header__burger-button.active .burger-button__line:nth-child(1) {
    transform: rotate(45deg) translateX(8px) translateY(10px);
  }
  .header__burger-button.active .burger-button__line:nth-child(2) {
    opacity: 0;
  }
  .header__burger-button.active .burger-button__line:nth-child(3) {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
  }
  .burger-button__line {
    transition: transform .3s ease, opacity .3s ease;
  }

  .header__menu-item {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .header{
    padding-inline: 10px;
  }
}