@font-face {
  font-family: "League Gothic";
  src: url('./fonts/LeagueGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}


button {
  -webkit-tap-highlight-color: transparent;
}

:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}


:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}


:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
  --color-white: #FFFFFF;
  --color-light: #F5F5F5;
  --color-dark: #000000;
  --color-gray: #9DA3AE;
  --color-light-gray: #E8EAED;
  --color-light-gray-2: #DFDEE7;

  --color-accent: #2AD18A;

  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'League Gothic', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 80px;

  --transition-duration: 0.2s;

  --border-radius: 8px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: 18px;
  line-height: 1.6;
  box-sizing: border-box;
  width: 100%;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 700;
}

h1, .h1 {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}